---
import TechnologyCard from "./TechnologyCard.astro";

interface Technology {
  name: string;
  iconSrc: string;
}

const { imgSrc, title, description, buttonLink, status, technologies } = Astro.props;
---

<div
  class="project-card bg-white p-6 rounded-2xl shadow-lg hover:shadow-xl transition-shadow transform text-left"
>
  <!-- Imagen y Badge de Estado -->
  <div class="relative mb-4">
    <img
      src={imgSrc}
      alt={title}
      class="w-full h-48 object-cover rounded-t-lg"
    />
    <span
      class={`absolute top-4 right-4 px-3 py-1 rounded-full text-sm font-semibold ${
        status === "finalizado"
          ? "bg-green-500 text-white"
          : "bg-yellow-500 text-black"
      }`}
    >
      {status === "finalizado" ? "Finalizado" : "En Desarrollo"}
    </span>
  </div>

  <!-- Contenido Principal -->
  <div class="p-4">
    <h3 class="text-xl font-bold text-gray-800 mb-2">{title}</h3>

    <!-- Descripción -->
    <div class="text-gray-600 mb-4">
      <p class="short-description truncate max-h-12 overflow-hidden">
        {description}
      </p>
      <p class="full-description hidden">{description}</p>
      <button
        class="toggle-description text-indigo-600 hover:text-indigo-700 font-semibold cursor-pointer mt-2"
      >
        Ver más...
      </button>
    </div>

    <!-- Botón -->
    <a
      href={buttonLink}
      target="_blank"
      rel="noopener noreferrer"
      class="inline-block px-6 py-2 bg-indigo-600 text-white rounded-xl shadow hover:bg-indigo-700 transition duration-300 mb-4"
    >
      Ver Proyecto
    </a>

    <!-- Tecnologías -->
    <div class="flex flex-wrap gap-4">
      {technologies.map((tech: Technology) => (
        <TechnologyCard name={tech.name} iconSrc={tech.iconSrc} />
      ))}
    </div>
  </div>
</div>
